<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Success</title>
	<link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/resources/css/all.css}">
</head>

<body>
	<div class="container-fluid">
		<div class="row text-center mt-5">
			<i class="fa-sharp fa-regular fa-circle-check" style="font-size: 35px"></i>
			<br>
			<h2>Your account is successfully activated.</h2>
			<h5>Please Log In from <a th:href="@{/auth/login}">here</a></h5>
	
		</div>
	</div>
</body>

</html>